#game-board {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.pixel {
  color: #ffffff;
  background-color: #1c0b26;
}

h1 {
  color: red;
  background-color: white;
}
